/*Exercise 5
Create a CSS file for your application
https://www.w3schools.com/css/default.asp




3. Assign an Id attribute to the home page heading to allow you go apply styling only to it.

4. Add styling (font size, color, etc.) of your choice for the the home page heading, using the id name you created in step 3, to your application CSS file.

5. Add at least one other styling of your choice to some element or elements in one or more of your Web pages.

6. Reference the application CSS file (external stylesheet) in each of your Web pages.
                                                            Test your pages to make sure your styles get applied as expected.
                                                            https://www.w3schools.com/css/css_howto.asp


                                                                    When you are finished, submit your lab work following the instructions under "Lab Submissions".
*/
body {
    background-color: lightblue;
}

/*
    I was unsure if you wanted us to use "th" for the group, or make our own. So i did both but they have the same specs.
 */
.tableHeader {
    font-family: Elephant;
}

th {
    font-family: Elephant;
}

#homeHeader {

}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
    text-align: center;
}

th {
    height: 50px;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}